/*#DOM-hidden {
  display:none;
}


#JavaScript-hidden {
  display:none;
}

.DOMclick:hover {
  cursor:pointer;
  color:blue;
}

.JavaClick:hover {
  cursor: pointer;
  color:blue;
}*/






.cardback {
  display:none;
}
